:root {
    --font-family: "IBM Plex Mono", sans-serif;
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    src: url('./fonts/IBMPlexMono-Bold.ttf');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-weight: 700;
    src: url('./fonts/IBMPlexMono-Regular.ttf');
}

* {
    font-family: "IBM Plex Mono", sans-serif;
}

.bg {
    background-image: url("./cover-image-dark.png");
    width: 1024px;
    height: 768px;
}
.padding-20 {
    padding: 20px;
}

.navigation {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.navigation li{
    list-style-type: none;
    padding: 0 13px;
}

.navigation li a{
    text-decoration: none;
    color: #FF0070;
    font-family: IBM Plex Mono;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.button {
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: #FF0070;
}

.button:hover {
    cursor: pointer;
}

.isActiveButton {
    border: 1px solid #FF0070;
}

.container {
    width: 984px;
    position: relative; 
    /*background-color: #db00ff;*/
}

.imageRec {
    position: absolute;
    /* прижимаем блок к правой границе относительно блока с position: relative*/
    right: 0;
    /*background-color: green;*/
}

.noFocus {
    font-family: var(--font-family);
    font-weight: 700;   
    font-size: 157px;
    line-height: 83%;
    color: #db00ff;
    text-shadow: 4px 4px #ff0070;
}

.spanx {
    display: flex;
    flex-direction: column;
    width: 491px;
    height: 71px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #000028;
    background-color: #FF0070;
    float: right;
}

.spanx1 {
    font-weight: bold;
}

.bgBlock1 {
    background-color: #000028;
    width: 1024px;
    height: 768px;
    padding-top: 60px;
}

.blockColumn {
    background-color: #ff0070;
}

.column {
    width: 984px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text1 {
    width: 314px;
    height: 47px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #ff0070;
    /*background-color: aqua;*/
}

.text2 {
    width: 648px;
    height: 244px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #000028;
    /*margin: 0 20px 20px 0;*/
    /*background-color: aqua;*/
}

.textColor {
    color: #FF0070;
}


