:root {
    --font-family: "IBM Plex Mono", sans-serif;
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-weight: 700;
    src: url('./fonts/IBMPlexMono-Bold.ttf');
}
@font-face {
    font-family: 'IBM Plex Mono';
    font-weight: bold;
    src: url('./fonts/IBMPlexMono-Bold.ttf');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    src: url('./fonts/IBMPlexMono-Regular.ttf');
}

#body{
    width: 1024px;
    margin: 0 auto;
    background-color: #000028;
}

.bg100{
   /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3000px;*/
    width: 100%;
    background-color: #000028;
}

* {
    font-family: "IBM Plex Mono", sans-serif;
}

.bg {
    background-image: url("./cover-image-dark.png");
    width: 1024px;
    height: 768px;
}
.padding-20 {
    padding: 20px;
}

.navigation {
    text-align: center;
    padding: 20px;
    width: 230px;
    height: 28px;
}

.navigation li{
    list-style-type: none;
    padding: 0 13px;
}

.navigation li a{
    text-decoration: none;
    color: #FF0070;
    font-family: IBM Plex Mono;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.button {
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: #FF0070;
    width: 70px;
    height: 26px;
    padding-left: 13px;
    padding-right: 13px;
}

.button:hover {
    cursor: pointer;
}

.isActiveButton {
    border: 1px solid #FF0070;
}

.isActiveButton1 {
    border-right: 1px solid #FF0070;
    border-top: 1px solid #FF0070;
}

.container {
    width: 984px;
    position: relative; 
    /*background-color: #db00ff;*/
}

.imageRec {
    position: absolute;
    /* прижимаем блок к правой границе относительно блока с position: relative*/
    right: 19px;
    /*background-color: green;*/
}

.nomargin {
    margin: 0;
    padding: 0;
}
.noFocus {
    left: 20px;
    font-family: 'IBM Plex Mono';
    font-weight: 700;   
    font-size: 157px;
    line-height: 83%;
    color: #db00ff;
    text-shadow: 4px 4px #ff0070;
    padding-top: 120px;
    padding-bottom: 0;
    margin-bottom: 115px;
}

.spanx {
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    font-size: 18px;
    /*line-height: 130%;
    color: #000028;*/
    width: 1024px;
    height: 71px;
    position: relative;
    padding-top: 0;
    margin: 0;
    /*background-color: #db00ff;*/
}

.spanx1 {
    font-family: 'IBM Plex Mono';
    width: 491px;
    font-weight: bold;
    position: absolute;
    /* прижимаем блок к правой границе относительно блока с position: relative*/
    right: 19px;
    background-color: #FF0070;
    padding-top: 0;
}

.bgBlock1 {
    background-color: #000028;
}


.blockColumn {
    margin-bottom: 10px;
    background-color: #ff0070;
}
.blockColumn2 {
    width: 649px;
    height: 23px;
    margin-bottom: 6px;
    background-color: #ff0070;
}

.nopaddingtop {
    padding-top: 0;
   
}

.column {
    width: 1024px;
    height: 528px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 0;
}

.text1 {
    width: 314px;
    height: 47px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #ff0070;
    padding-left: 20px;
    /*background-color: aqua;*/
}

.text2 {
    width: 648px;
    height: 244px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #000028;
    margin-right: 20px;
    /*margin: 0 20px 20px 0;*/
    /*background-color: aqua;*/
}

.textColor {
    font-family: var(--font-family);
    font-weight: 400;
    color: #F1B2CE;
    /*background-color: aqua;*/

}
.column2 {
    width: 1024px;
    height: 510px;
    margin: 0;
}
.column3 {
    width: 1100px;
    height: 498px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    padding: 0px 0px 0px 0;
    margin: 0 0 0 14px;
    gap: 20px;
}
.text2_1 {
    width: 305px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #ff0070;
    padding: 76px 0 0 16px;
    margin: 0;
   /* background-color: aqua;*/
}

.text2_2 {
    width: 316px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #000028;
    margin: 0;
    padding: 0;
    /*background-color: aqua;*/
}

.column4 {
    width: 1024px;
    height: 1185px;
    padding-top: 50px;
    margin-bottom: 0;
}

.box4{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 1115px;
    width: 1009px;
    justify-content: start;
    justify-items: start;
    padding: 0;
    margin: 92px 0 0 15px;
    gap: 20px;
    column-gap: 0;
}

.box4 .text4_1 {
    align-self: stretch;
   /* background-color: blue;*/
    width: 315px;
    height: 1115px;
    margin: 0;
    padding: 0;
}

.box4 .text4_2 {
   width: 649px; 
   margin: 0;
   padding: 0;
   /*background-color: rgb(42, 165, 58); */
}
.text_format1{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #ff0070;
    margin: 0;
    padding: 0;
   /* background-color: aqua;*/
}
.text_format2{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #000028;
    background-color: #ff0070;
    margin: 0 0 10px 0;
    padding: 0;
   /* background-color: aqua;*/
}
.text_format3{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #f1b2ce;
    margin: 0;
    padding: 0;
    /*background-color: aqua;*/
}
.text_format4{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #000028;
    background-color: #ff0070;
    margin: 0;
    padding: 0;
   /* background-color: aqua;*/
}
.backgroundColor {
    background-color: #000028;
}

.section5text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #000028;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 315px);
    grid-template-rows: 260px 315px 428px;
    row-gap: 20px;
    column-gap: 20px;
    /*height: 315px;*/
    padding-top: 20px;
}

.gridElement {
    /*padding: 20px;*/
}

.column5 {
    width: 984px;
    height: 1185px;
    margin: 0 0 11px 19px;
}

.pic1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

.pic2 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
}

.pic3 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
}

.pic4 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.pic5 {
    grid-column: 2 / span 2;
    grid-row: 3 / span 3;
margin-top: 5px;
}